body {
    text-align: center;
}


h1 {
    font-weight: 800;
    color: #949697;
    margin-left: 50px;
    font-size: 9vw;
}

h4 {
    color: #C5C6C7;
    margin-left: 50px;
}

p {
    font-weight: 700;
    margin-left: 50px;
    font-size: 6vw;
    color: #C5C6C7;
}

#datetime {
    margin-left: 50px;
    font-size: 20px;
    font-weight: 600;
    color: #C5C6C7;
}

iframe {
    margin-left: 50px;
}

button {
    margin-left: 50px;
    background-color: rgb(106, 106, 223);
    width: 450px;
    height: 90px;
    font-weight: bold;
    font-size: 20px;
}



@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
  .gfg-div {
    width: 400px;
    height: 400px;
  }
}
 
/* For Mobile Portrait View */
@media screen and (max-device-width: 480px)
and (orientation: portrait) {
  .gfg-div {
    width: 200px;
    height: 200px;
  }
}
 
/* For Mobile Landscape View */
@media screen and (max-device-width: 640px)
and (orientation: landscape) {
  .gfg-div {
    width: 400px;
    height: 200px;
  }
}
 
/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  .gfg-div {
    width: 400px;
    height: 200px;
  }
}
 
/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
  .gfg-div {
    width: 400px;
    height: 400px;
  }
}
 
/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
  .gfg-div {
    width: 400px;
    height: 400px;
  }
}
 
/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px)
and (-webkit-min-device-pixel-ratio: 3) {
  .gfg-div {
    width: 400px;
    height: 400px;
  }
}