body {
    text-align: center;
}


h1 {
    font-weight: 800;
    color: #949697;
    margin-left: 50px;
    font-size: 9vw;
}

h4 {
    color: #C5C6C7;
    margin-left: 50px;
}

p {
    font-weight: 700;
    margin-left: 50px;
    font-size: 6vw;
    color: #C5C6C7;
}

#datetime {
    margin-left: 50px;
    font-size: 20px;
    font-weight: 600;
    color: #C5C6C7;
}

iframe {
    margin-left: 50px;
}

button {
    margin-left: 50px;
    background-color: rgb(106, 106, 223);
    width: 450px;
    height: 90px;
    font-weight: bold;
    font-size: 20px;
}